#web_bg {
  /* 背景图像的地址（url括号里）  */
  background: url("https://img.zcool.cn/community/0184e45c1f6ab5a80121df90c0ac5b.png@1280w_1l_2o_100sh.png");
  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover;
}